@charset "utf-8";

@import "./_variable.scss";

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap");

.columns:last-child {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div#root {
  height: 100vh;
}

.app-body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 95%;
    height: 100%;
    background: #fa7249;
    transform: translateX(-50%) skewX(-25deg);
  }

  &::after {
    content: url(../assets/rotom-dex.png);
    position: absolute;
    bottom: -100px;
    left: 10%;
    z-index: 1;
  }
}

.app-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    background: #f4513c;
    transform: skewX(-25deg);
  }

  &::after {
    content: "";
    position: absolute;
    border-right: 300px solid white;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background: #f4513c;
    transform: skewX(-25deg);
    z-index: 2;
    box-sizing: content-box;
  }
}

#navbar-container {
  margin-top: 24px;
  background: #dfdfdf;
  position: relative;
  z-index: 10;
  width: 100%;
  &::before {
    line-height: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 203px;
    width: 150%;
    height: 100%;
    background: #353234;
    transform: skewX(-25deg);
  }
}

#pokedex-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
  margin-top: 12px;

  .column {
    padding-top: 0;
  }
}

.pokemon-list {
  li {
    margin: 6px 0;
    border-radius: 50px;
    padding: 6px 0;
    display: flex;
    align-items: center;
    background: rgba(5, 3, 3, 0.123);
    font-weight: 600;

    &:hover {
      background: rgba(51, 51, 51, 0.123);
    }
  }
}

.poke-num {
  padding: 4px 0;
  margin-right: 4px;
}

.poke-icon {
  position: relative;
  height: 32px;
  width: 64px;
  // margin-right: 16px;
  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    image-rendering: pixelated;
  }

  .--hide {
    display: none;
  }
}

.poke-checkbox {
  position: relative;
  margin-right: 24px;
  margin-left: auto;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ label {
      background: url(../assets/pokeball-white.svg) no-repeat;
    }
  }

  label {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

#poke-search {
  border: 0;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;

  padding: 8px 16px;
}
